* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #121212;
    color: #fff;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
.navbar {
    background-color: #1f1f1f;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.navbar-brand img {
    width: 30px;
    height: 30px;
}

#logo-jw {
    color: #000;
    text-shadow: 1px 1px 0 #f7df1e, -1px 1px 0 #f7df1e, 1px -1px 0 #f7df1e,
        -1px -1px 0 #f7df1e;
}

.btn-game {
    display: flex;
    justify-content: center;
    background-color: #f7df1e;
    color: #000;
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    padding: 1.25rem 2rem;
    border-radius: 999px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
}

.btn-game:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    background-color: #f7de1eb9;
    color: #000;
}

.btn-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-icon {
    width: 32px;
    text-align: center;
}

.btn-label {
    min-width: 170px; /* assure un début de texte toujours aligné */
    text-align: left;
}

.jeu-title {
    font-size: 2.2rem;
    color: white;
    margin-bottom: 1.5rem;
}

.jeu-nom {
    font-size: 2.5rem;
    font-weight: 800;
    color: #f7df1e;
    margin-bottom: 2.5rem;
    margin-top: 70px;
}

.jeu-description {
    font-size: 1.3rem;
    color: white;
    max-width: 800px;
    margin: 0 auto 2rem;
}

.jeu-reference {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

.jeu-difficulte {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    user-select: none;
}

.jeu-difficulte .etoile {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    color: #f7df1e;
    user-select: none;
}

#nouveau-personnage {
    width: 50%;
    margin: 0 auto;
    min-width: 300px;
    margin-top: 70px;
    user-select: none;
}

footer {
    background-color: #1f1f1f;
    color: #888;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    margin-top: 3rem;
}
